set timeout=5
set timeout_style=menu
set default=0

menuentry "MiOS" {
    multiboot2 /boot/kernel.bin
    module2 /boot/initrd.tar
    module2 /mios/boot.cfg
}

menuentry "Secure Mode Load" {
    echo "[BOOT] Loading secure OS..."
    multiboot2 /secure/kernel_secure.bin
    module2 /secure/initrd_secure.tar
    module2 /secure/mios/boot.cfg
    echo "[OK] Secure OS loaded!"
}

menuentry "GUI Mode" {
    echo "[BOOT] Loading GUI OS..."
    multiboot2 /gui/kernel_gui.bin
    module2 /gui/initrd_gui.tar
    module2 /gui/mios/boot.cfg
    echo "[BOOT] GUI OS loaded!"
}


menuentry "About" {
    echo "MiOS Kernel 5.8"
    echo "by Mikhail"
    sleep 3
    boot
}
